.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.column1 {
    margin: 1vh 1vw;
    padding: 10px;
}

.column2 {
    margin: 1vh 1vw;
    padding: 10px;
}

@media (max-width: 1200px) {
    .column2 {
        grid-template-rows: auto auto;
    }

    .container {
        grid-template-columns: 1fr;
    }
}

#calc {
    position: sticky;
    top: 20px;
}
